{
  "elasticsearchUsername": "",
  "elasticsearchPassword": "",
  "elasticsearchHost": "",
  "elasticsearchPort": "",
  "debug": true,
  "tenantId": "",
  "okapiUrl": "",
  "folioUsername": "",
  "folioPassword": "",
  "serverurl": ""
}
